In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import spearmanr
import os
import os.path
import shutil

In [2]:
task_type = 'modifae'
trait_name = 'attractive'
high_low_type = 'low-high'

# move experiment data from pt_dir to a specific folder specified by task config params.

sub_folder_name = './' + task_type + '/' + trait_name + '-' + high_low_type + '/'
pair_data_csv = sub_folder_name + 'pair_data.csv'

pair_data = pd.read_csv(pair_data_csv)

In [4]:
pair_data.head()

,Unnamed: 0,subId,rt,im1,im2,response,low_first,repeat,task_type,correct
0,0,A1U5BE8XJRXKW3:39LNWE0K4W3V3CQ1QCE1S7F8LJ6IUV,3482,/static/images/modifae_pairwise/attractive/136...,/static/images/modifae_pairwise/attractive/136...,right,1,0,modifae,True
1,1,A1U5BE8XJRXKW3:39LNWE0K4W3V3CQ1QCE1S7F8LJ6IUV,2951,/static/images/modifae_pairwise/attractive/136...,/static/images/modifae_pairwise/attractive/136...,left,0,0,modifae,True
2,2,A1U5BE8XJRXKW3:39LNWE0K4W3V3CQ1QCE1S7F8LJ6IUV,2910,/static/images/modifae_pairwise/attractive/136...,/static/images/modifae_pairwise/attractive/136...,left,0,0,modifae,True
3,3,A1U5BE8XJRXKW3:39LNWE0K4W3V3CQ1QCE1S7F8LJ6IUV,3033,/static/images/modifae_pairwise/attractive/136...,/static/images/modifae_pairwise/attractive/136...,left,0,0,gt,True
4,4,A1U5BE8XJRXKW3:39LNWE0K4W3V3CQ1QCE1S7F8LJ6IUV,3430,/static/images/modifae_pairwise/attractive/136...,/static/images/modifae_pairwise/attractive/136...,left,1,0,modifae,False

In [13]:
(pair_data[pair_data['task_type']=='modifae']['correct']==True).sum()

848

In [14]:
848/1260.

0.6730158730158731

In [15]:
sub_num_dict = {}
sub_counter = 1
for sub_id in pair_data['subId']:
    if sub_id not in sub_num_dict:
        sub_num_dict[sub_id] = sub_counter
        sub_counter += 1
        
pair_data['subNum'] = pair_data['subId'].map(sub_num_dict)

In [16]:
img_num_dict = {}
img_counter = 0
for img_name in pair_data['im1']:
    if img_name not in img_num_dict:
        img_num_dict[img_name] = img_counter
        img_counter += 1
        
pair_data['img1Num'] = pair_data['im1'].map(img_num_dict)

In [17]:
pair_data = pair_data[['subNum', 'img1Num', 'correct', 'repeat', 'task_type']]

In [18]:
pair_data.head()

   subNum  img1Num  correct  repeat task_type
0       1        0     True       0   modifae
1       1        1     True       0   modifae
2       1        2     True       0   modifae
3       1        3     True       0        gt
4       1        4    False       0   modifae

In [23]:
acc_lst = []

for sub_num in range(1, pair_data['subNum'].nunique()+1):
    cur_sub_data = pair_data[pair_data['subNum']==sub_num]
    cur_sub_data['freq'] = cur_sub_data.groupby('img1Num')['img1Num'].transform('count')
    repeat_lst = cur_sub_data[cur_sub_data['freq']==2]
    p = repeat_lst.sort_values(by=['img1Num'])
    p1 = p[::2]
    p2 = p[1::2]

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [26]:
repeat_lst

      subNum  img1Num  correct  repeat task_type  freq
1329      14       16    False       0   modifae     2
1334      14       40     True       0        gt     2
1335      14       87     True       1   modifae     2
1338      14       87     True       0   modifae     2
1339      14       37     True       0   modifae     2
1342      14       20    False       1   modifae     2
1352      14       16    False       0   modifae     2
1356      14       37     True       0   modifae     2
1369      14       40     True       0   modifae     2
1375      14       20    False       0   modifae     2

In [25]:
p2

      subNum  img1Num  correct  repeat task_type  freq
1352      14       16    False       0   modifae     2
1375      14       20    False       0   modifae     2
1356      14       37     True       0   modifae     2
1369      14       40     True       0   modifae     2
1338      14       87     True       0   modifae     2

In [2]:
import pandas as pd
task_type = 'stargan'
trait_name = 'attractive'
high_low_type = 'low-high'

# move experiment data from pt_dir to a specific folder specified by task config params.

sub_folder_name = './' + task_type + '/' + trait_name + '-' + high_low_type + '/'
pair_data_csv = sub_folder_name + 'pair_data.csv'

pair_data = pd.read_csv(pair_data_csv)

In [3]:
pair_data.head()

,Unnamed: 0,subId,rt,im1,im2,response,low_first,repeat,task_type,correct
0,0,A22UZT41I9G9NL:3EFE17QCRECFS4NDVP1GDUW50BCHSV,5589,/static/images/stargan_pairwise/stargan_61attr...,/static/images/stargan_pairwise/stargan_61attr...,right,1,0,stargan,True
1,1,A22UZT41I9G9NL:3EFE17QCRECFS4NDVP1GDUW50BCHSV,2775,/static/images/stargan_pairwise/stargan_20attr...,/static/images/stargan_pairwise/stargan_20attr...,left,1,1,stargan,False
2,2,A22UZT41I9G9NL:3EFE17QCRECFS4NDVP1GDUW50BCHSV,2675,/static/images/stargan_pairwise/stargan_22attr...,/static/images/stargan_pairwise/stargan_22attr...,right,1,0,stargan,True
3,3,A22UZT41I9G9NL:3EFE17QCRECFS4NDVP1GDUW50BCHSV,3363,/static/images/stargan_pairwise/stargan_65attr...,/static/images/stargan_pairwise/stargan_65attr...,left,0,0,stargan,True
4,4,A22UZT41I9G9NL:3EFE17QCRECFS4NDVP1GDUW50BCHSV,7105,/static/images/gt_pairwise/attractive-low-1.png,/static/images/gt_pairwise/attractive-high-1.png,right,1,0,gt,True

In [4]:
gt_df = pair_data[pair_data['task_type']=='gt']

In [5]:
gt_df.shape

(132, 10)

In [6]:
pair_data['subId'].nunique()

14

In [7]:
pair_data.shape

(1313, 10)

In [8]:
gt_df['correct'].sum()

89

In [9]:
from __future__ import division

gt_df['correct'].sum() / len(gt_df)

0.6742424242424242

In [10]:
stargan_df = pair_data[pair_data['task_type']=='stargan']

In [11]:
stargan_df['correct'].sum() / len(stargan_df)

0.5114309906858594

In [13]:
(pair_data['response'] == 'right').sum()

690

In [14]:
(pair_data['response'] == 'left').sum()

623

In [15]:
690+623

1313