In [3]:
import os
my_dir = '../images/modifae_pairwise/attractive/'
all_files = os.listdir(my_dir)

In [4]:
len(all_files)

300

In [6]:
all_files[0].split('_')[0]

'136194'

In [7]:
uniq_id_lst = [i.split('_')[0] for i in all_files]

In [13]:
t = list(set(uniq_id_lst))

In [15]:
all_files[:10]

['136194_-0.75.png',
 '136208_0.0.png',
 '136218_0.0.png',
 '136257_-0.75.png',
 '136224_0.75.png',
 '136225_0.75.png',
 '136243_-0.75.png',
 '136180_-0.75.png',
 '136191_0.75.png',
 '136239_-0.75.png']

In [16]:
t[0]

'136220'

In [19]:
t1 = [s + 'test' for s in t]

In [20]:
t2 = [s + 'test2' for s in t]

In [21]:
import pandas as pd

In [22]:
tt = pd.DataFrame(columns=['1', '2'])

In [23]:
tt['1'] = t1
tt['2'] = t2

In [32]:
tt2 = pd.DataFrame({'account': ['Jones LLC', 'Alpha Co', 'Blue Inc'],
         'Jan': [150, 200, 50],
         'Feb': [200, 210, 90],
         'Mar': [140, 215, 95], 
                   
                   'test': 1})

In [33]:
tt2

   Feb  Jan  Mar    account  test
0  200  150  140  Jones LLC     1
1  210  200  215   Alpha Co     1
2   90   50   95   Blue Inc     1

In [34]:
rating_df = pd.read_csv('/Users/amanda/Dropbox/2019/modifAE/celeb_ratings.csv')

In [35]:
trait = 'attractive'
sorted_rating = rating_df[['Filename', trait]].sort_values(by=[trait])

In [37]:
sorted_rating['Filename'][0:10]

174541    057518.jpg
60333     163226.jpg
70385     159705.jpg
186773    102224.jpg
12887     088703.jpg
11137     179200.jpg
34163     089364.jpg
182034    116932.jpg
130615    022208.jpg
164723    053963.jpg
Name: Filename, dtype: object

In [39]:
sorted_rating['Filename'][-10:]

140363    111185.jpg
54172     146463.jpg
37830     151504.jpg
147130    136632.jpg
119124    117478.jpg
158234    100859.jpg
67407     187879.jpg
24079     190446.jpg
91378     147833.jpg
120783    073829.jpg
Name: Filename, dtype: object

In [40]:
len(sorted_rating)

189767

In [41]:
mid_pt = len(sorted_rating) / 2

In [42]:
sorted_rating['Filename'][mid_pt:mid_pt+10]

80762     014677.jpg
70110     100185.jpg
8249      109290.jpg
119843    012729.jpg
153702    002680.jpg
158516    056513.jpg
93100     179389.jpg
111429    019904.jpg
104996    200170.jpg
5396      159324.jpg
Name: Filename, dtype: object

In [43]:
sorted_rating.head()

          Filename  attractive
174541  057518.jpg    2.010375
60333   163226.jpg    2.029354
70385   159705.jpg    2.079502
186773  102224.jpg    2.091129
12887   088703.jpg    2.135564

In [44]:
import shutil

src_file = '/Users/amanda/Dropbox/169043.jpg'
dst_dir = './test.jpg'
shutil.copy(src_file, dst_dir)

In [45]:
sorted_rating['Filename'][0]

'136172.jpg'

In [47]:
sorted_rating['Filename'][174541]

'057518.jpg'

In [50]:
sorted_rating['Filename'].iloc[1]

'163226.jpg'